@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@font-face {
  font-family: D2Coding;
  src:
    local('D2Coding') format('truetype'),
    url('./D2Coding-Ver1.3.2-20180524.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HangulNemoHand;
  src:
    local('HangulNemoHand') format('truetype'),
    url('./HangulNemoHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HangulNemoHandBold;
  src:
    local('HangulNemoHandBold') format('truetype'),
    url('./HangulNemoHandBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: HangulNemoTaza;
  src:
    local('HangulNemoTaza') format('truetype'),
    url('./HangulNemoTaza.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: HangulNemoTazaBold;
  src:
    local('HangulNemoTazaBold') format('truetype'),
    url('./HangulNemoTazaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 庞门正道粗书体;
  src:
    local('庞门正道粗书体') format('truetype'),
    url('./庞门正道粗书体-正式版.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
#canvas {
    display: inline-block;
}
#copied-verify-div {
  display: none;
  position: fixed;
  left: 5rem;
  top: 2rem;
  z-index: 2;
  text-align: center;
  border: 2px solid dimgray;
  padding: 1rem;
  color:black;
  background-color: silver;
}
.button-div {
  vertical-align: middle; 
  inline-height: 3rem;  
}
.button-div > button {
  display:inline-block;  
  height: 2rem;
  margin: auto;
}
#clipboard-button-div {
  position:relative;  
  left: 8rem;
  margin-top: 10px;
}
#option-div {
  position:relative;
  left: 4rem;
}
.hotkey {
  text-decoration: underline;
}

table#canvas-options {
  border-bottom: 1px gray solid;
}
